.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper--internal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-top: 50px;
}
.main {
  width: 870px;
}
.sidebar {
  width: 270px;
  padding-bottom: 60px;
}
.sidebar__check,
.sidebar__input {
  display: none;
}
.sidebar__label {
  display: block;
  width: 270px;
  height: 35px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 25px;
  margin-bottom: 15px;
  background-image: url(../img/sale.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.sidebar__label span {
  color: #000;
  padding-right: 10px;
}
.sidebar__label::after {
  content: "sale";
  position: absolute;
  top: 0;
  right: 57px;
  font-size: 11px;
  transform: rotate(-65deg);
}
.sidebar__block {
  background-color: #f8f8f8;
  margin-bottom: 35px;
}
.sidebar__part {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar__part:last-child {
  border-bottom: none;
}
.sidebar__h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
}
.sidebar__link:hover,
.sidebar__link:active {
  color: #de7627;
}
.sidebar__item {
  padding-left: 10px;
  margin-bottom: 7px;
}
.sidebar__item:last-child {
  margin-bottom: 0;
}
.sidebar__field {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.sidebar__arrow {
  display: block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url(../img/arrow-orange.png);
  background-size: 10px 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.sidebar__dropdown {
  padding-left: 10px;
  display: none;
}
.sidebar__check:checked ~ .sidebar__dropdown {
  display: block;
}
.sidebar__check:checked ~ .sidebar__field .sidebar__arrow {
  transform: rotate(180deg);
}
.sidebar__title {
  font-size: 19px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar__name {
  margin-top: 0;
}
.sidebar__text {
  margin-top: 10px;
}
.sidebar__border {
  background-image: url(../img/bg-sidebar.png);
}
.sidebar__pic {
  font-size: 22px;
  font-weight: 400;
  padding-left: 75px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}
.sidebar__pic::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -10px;
  width: 70px;
  height: 58px;
  background-image: url(../img/question.png);
  background-repeat: no-repeat;
}
.sidebar__card {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.sidebar__question {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}
.sidebar__info {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.search {
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.search::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-search-btn.png);
  background-repeat: no-repeat;
}
.search__input {
  width: 195px;
  height: 34px;
  padding-left: 40px;
  padding-right: 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 6px 0 0 6px;
  outline: none;
}
.search__input:-ms-input-placeholder {
  opacity: 1;
}
.search__input::placeholder {
  opacity: 1;
}
.search__input:focus {
  border-color: #de7627;
}
.search__btn {
  width: 75px;
  height: 34px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0 6px 6px 0;
  background-color: #ff6600;
  border: none;
  outline: none;
  cursor: pointer;
}
.search__btn:hover,
.search__btn:active {
  opacity: 0.8;
}
.btn {
  display: block;
  background-color: #ff6600;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  min-height: 38px;
  line-height: 38px;
  cursor: pointer;
  outline: none;
}
.btn:hover,
.btn:active {
  opacity: 0.8;
}
.date {
  font-size: 13px;
  font-weight: 400;
}
.social__link {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.social__link span {
  padding-left: 5px;
}
.social__link:hover span {
  text-decoration: underline;
}
.social--internal {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.title-h1--internal {
  margin-top: 5px;
  margin-bottom: 5px;
}
.anounce {
  padding: 10px 25px;
  margin-bottom: 25px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.anounce__text {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
  margin-top: 10px;
}
.anounce__link {
  font-size: 15px;
  padding-left: 30px;
  display: inline-block;
  vertical-align: baseline;
}
.breadcrumbs__link {
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  margin-right: 20px;
  position: relative;
}
.breadcrumbs__link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -12px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #999999;
}
.breadcrumbs__link:hover,
.breadcrumbs__link:active {
  color: #de7627;
}
.breadcrumbs__link--active::after {
  display: none;
}
.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:active {
  color: #333333;
}
.article {
  padding-bottom: 55px;
}
.article__img {
  display: block;
  float: left;
  width: 470px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}
.article__text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}
.article__text:last-of-type {
  margin-bottom: 10px;
}
.article__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.article__wrap {
  min-height: 300px;
  padding-top: 10px;
}
.feedback {
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  background-image: url(../img/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
.feedback__h2 {
  font-family: "Ubuntu", "Arial", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
}
.feedback__wrap {
  text-align: center;
  padding-top: 20px;
}
.feedback__btn {
  margin-left: auto;
  margin-right: auto;
  width: 197px;
}
.feedback__input {
  width: 170px;
  min-height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid #ededed;
  outline: none;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.feedback__input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
}
.feedback__input::placeholder {
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
}
.feedback__input:focus {
  border-color: #de7627;
}
.feedback__check {
  display: none;
}
.feedback__time {
  display: block;
  width: 170px;
  min-height: 34px;
  line-height: 34px;
  padding-left: 20px;
  border-radius: 3px;
  border: 1px solid #ededed;
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.feedback__time::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 8px;
  height: 10px;
  background-image: url(../img/icon-sort.png);
  background-repeat: no-repeat;
}
.feedback__time:active {
  border-color: #de7627;
}
.feedback__select {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.feedback__dropdown {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ededed;
}
.feedback__drop {
  display: block;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  padding: 0 20px;
  width: 168px;
  text-align: left;
}
.feedback__drop:hover,
.feedback__drop:active {
  color: #de7627;
}
.feedback__check:checked ~ .feedback__select .feedback__dropdown {
  display: block;
}
@media (max-width: 1229px) {
  .wrapper--internal {
    display: block;
    position: relative;
  }
  .main {
    width: 100%;
  }
  .article__img {
    width: 280px;
    height: auto;
  }
  .article__wrap {
    min-height: auto;
  }
  .sidebar__label {
    cursor: pointer;
  }
  .sidebar__faq,
  .sidebar__review,
  .sidebar__block {
    display: none;
    position: absolute;
    left: 20px;
    max-width: 270px;
    z-index: 10;
  }
  .search {
    position: absolute;
    top: 50px;
    right: 20px;
  }
  .sidebar {
    padding-bottom: 20px;
  }
  .sidebar__block {
    top: 100px;
  }
  .sidebar__input:checked ~ .sidebar__block {
    display: block;
  }
  .feedback__h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .anounce__link {
    padding-left: 0;
    display: block;
  }
  .anounce__text {
    font-size: 14px;
  }
  .article {
    padding-bottom: 20px;
  }
  .feedback__h2 {
    font-size: 16px;
    line-height: 1.2;
  }
  .feedback__select {
    margin-bottom: 12px;
    margin-right: 15px;
  }
  .feedback__wrap {
    padding-left: 15px;
  }
}
@media (max-width: 599px) {
  .wrapper--internal {
    padding-top: 100px;
  }
  .search {
    top: 40px;
    right: 0;
    left: 10px;
  }
  .sidebar__block {
    top: 150px;
    left: 10px;
  }
  .article__img {
    float: none;
  }
}
