.anounce {
  padding: 20px 15px;
  margin-bottom: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
}

.anounce__text {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
}

.anounce__link {
  font-size: 15px;
  padding-left: 15px;
  display: inline-block;
  vertical-align: baseline;
}
