.article {
  padding-bottom: 50px;
}

.article__img {
  display: block;
  float: left;
  width: 470px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}

.article__text {
  font-size: 14px;
  font-weight: 400;
}

.article__link {
  font-size: 14px;
  font-weight: 500;
  color: @font-dark;
}

.article__wrap {
  min-height: 300px;
}