.feedback {
  padding: 0 10px;
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  background-image: url(../img/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  
  &--catalog {
    background-image: none;
    background-color: @bg-dark;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.feedback__h2 {
  font-family: "Ubuntu", "Arial", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
}

.feedback__wrap {
  text-align: center;
  padding-top: 20px;
}

.feedback__btn {
  margin-left: auto;
  margin-right: auto;
  width: 197px;
}

.feedback__input {
  width: 170px;
  min-height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
  padding: 0 20px;
  border-radius: 3px;
  border: 1px solid rgb(237, 237, 237);
  outline: none;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  
  &::placeholder {
    font-size: 13px;
    font-weight: 400;
    opacity: 1;
  }
  
  &:focus {
    border-color: @font-orange;
  }
}

.feedback__check {
  display: none;
}

.feedback__time {
  display: block;
  width: 170px;
  min-height: 34px;
  line-height: 34px;
  padding-left: 20px;
  border-radius: 3px;
  border: 1px solid rgb(237, 237, 237);
  background-color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 15px;
    width: 8px;
    height: 10px;
    background-image: url(../img/icon-sort.png);
    background-repeat: no-repeat;
  }
  
  &:active {
    border-color: @font-orange;
  }
}

.feedback__select {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.feedback__dropdown {
  display: none;
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(237, 237, 237);
}

.feedback__drop {
  display: block;
  color: @font-dark;
  font-size: 13px;
  font-weight: 400;
  padding: 0 20px;
  width: 168px;
  text-align: left;
  
  &:hover,
  &:active {
    color: @font-orange;
  }
}

.feedback__check:checked ~ .feedback__select .feedback__dropdown {
  display: block;
}