.footer {
  background-color: @bg-dark;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 45px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  width: 170px;
}

.footer__block {
  width: 270px;
}

.footer__h3 {
  font-weight: 500;
}

.footer__link {
  color: @font-grey;
  font-size: 14px;
  font-weight: 400;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}