@media @tablet {
  .wrapper {
    width: 767px;
    padding: 0 20px;
  }
  
  .menu__wrap {
    min-height: 40px;
    position: relative;
  }
  
  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer
  }
  
  .menu--closed {
    .menu__list {
      display: none;
    }
    
    .menu__btn {
      background-image: url(../img/icon-menu-ham.svg);
    }
  }
  
  .menu--opened {
    .menu__list {
      display: block;
      position: absolute;
      top: 41px;
      left: 0;
      background-color: @bg-dark;
      border-radius: 0 0 6px 6px;
      z-index: 5;
    }
    
    .menu__link {
      padding-left: 20px;
      font-size: 15px;
    }
    
    .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
    }
  }
  
  .header__middle {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    background-image: linear-gradient(to bottom, @bg-dark, @bg-dark 85%, #fff 85%, #fff);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .card__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card__item {
    margin-right: 20px;
    
    &:hover {
      margin-top: 10px;
    }
  }
  
  .promo {
    display: block;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .promo__text {
    width: 100%;
    padding-top: 0;
    text-align: left;
    padding-left: 70px;
  }
  
  .sample__wrap {
    bottom: -120px;
  }
  
  .sample__item {
    margin-right: 10px;
    
    &:hover .sample__wrap {
      bottom: 10px;
    }
  }
  
  .sample {
    padding-bottom: 50px;
  }
  
  .catalog__link {
    width: 330px;
  }
  
  .catalog__item,
  .catalog__item:nth-child(3n) {
    margin-right: 20px;
  }
  
  .action {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .about {
    flex-wrap: wrap;
  }
  
  .subtitle,
  .title-h2 {
    text-align: left;
    padding-left: 0;
  }
  
  .link--center {
    text-align: left;
  }
  
  .about__info,
  .news {
    padding-bottom: 40px;
  }
  
  .about__link {
    margin-top: 20px;
  }
  
  .team__item:nth-child(7n) {
    margin-right: 20px;
  }
  
  .footer__wrap {
    flex-wrap: wrap;
  }
  
  .footer__block {
    width: 100%;
  }
  
  .footer__place {
    display: flex;
    align-items: center;
    
    div {
      margin-right: 60px;
    }
  }
  
  .review {
    width: 767px;
    padding: 40px 20px;
    
    .link,
    .title-h2 {
      text-align: center;
    }
    
    .review__link {
      text-align: left;
    }
  }
  
  .swiper-slide {
    width: 280px;
  }
  
  .swiper-container {
    max-width: 630px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
  }
  
  .review__block {
    background-size: 280px 100%;
  }
  
  .modal .title-h2 {
    text-align: center;
  }
}

@media @mobile {
  .wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .header__address {
    margin: 10px 0;
  }
  
  .header__wrap {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }

  .header__title {
    display: none;
  }
  
  .header__middle {
    padding-top: 10px;
  }
  
  .header {
    background-image: linear-gradient(to bottom, @bg-dark, @bg-dark 93%, #fff 93%, #fff);
  }
  
  .card__list {
    padding-top: 20px;
  }
  
  .promo__text {
    padding-left: 0;
  }
  
  .title-h1,
  h1 {
    font-size: 20px;
    line-height: 1.2;
  }
  
  .promo__title {
    font-size: 16px;
    line-height: 30px;
  }
  
  .title-h2,
  h2 {
    font-size: 20px;
    line-height: 1.2;
  }
  
  .subtitle {
    padding-right: 0;
  }
  
  .sample__list {
    flex-wrap: wrap;
  }
  
  .sample__item {
    margin-bottom: 10px;
  }
  
  .sample__wrap {
    bottom: -100px;
  }
  
  .catalog__link {
    width: 280px;
  }
  
  .catalog__img {
    width: 100px;
    height: auto;
  }
  
  .catalog__name {
    width: 150px;
    padding-right: 5px;
  }
  
  .action__img {
    width: 100%;
    height: auto;
  }
  
  .news__item {
    width: 100%;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 0;
    border: 1px solid rgb(221, 221, 221);
  }
  
  .news__block {
    width: 100%;
  }
  
  .about__text {
    width: auto;
  }
  
  .team__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .footer__place {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .review {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .swiper-container {
    max-width: 300px;
  }
  
  .swiper-slide {
    width: 260px;
  }
  
  .review__block {
    background-size: 230px 100%;
  }
  
  .review__text {
    padding-right: 20px;
  }
  
  .modal {
    width: 300px;
    padding: 10px;
  }
  
  .modal__input {
    width: 180px;
  }
  
  .footer {
    padding-bottom: 20px;
  }
  
  .action__link:nth-of-type(3n) {
    margin-right: 30px;
  }
  
  .footer__list {
    display: none;
  }
  
  .footer__column .footer__h3 {
    position: relative;
    cursor: pointer;
    
    &::after {
      content: "";
      position: absolute;
      top: 30%;
      right: 0;
      width: 10px;
      height: 5px;
      background-image: url(../img/arrow-down.png);
      background-repeat: no-repeat;
    }
  }
  
  .footer__input:checked ~ .footer__list {
    display: block;
  }
  
  .footer__input:checked + .footer__h3::after {
    transform: rotate(180deg);
  }
}